<!-- bảng loại sản phẩm -->
<div id="table_loai" style="display: flex; justify-content: center; margin-top: 20px;">

    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Mã loại sản phẩm</th>
                <th scope="col">Tên loại sản phẩm</th>
                <th style="text-align: center;" scope="col">Xem</th>
                <th style="text-align: center;" scope="col">Sửa</th>
                <th style="text-align: center;" scope="col">Xóa</th>
            </tr>
        </thead>
        <tbody>
            <% if(data.rows){ %>
                <% for(let i=0; i < data.rows.length; i++) { %>
                    <tr>
                        <th scope="row">
                            <%= data.rows[i].maloai %>
                        </th>
                        <td>
                            <%= data.rows[i].tenloai %>
                        </td>
                        <td style="text-align: center;"><a href="/detailTProduct/<%= data.rows[i].maloai %>"
                                class="btn btn-light">Xem</a></td>
                        <td style="text-align: center;"><a href="/editProductType/<%= data.rows[i].maloai %>"
                                class="btn btn-primary">Sửa</a></td>
                        <td style="text-align: center;"><button class="btn btn-danger"
                                onclick="deleteType('<%= data.rows[i].maloai %>')">Xóa</button></td>
                    </tr>
                    <% } %>
                        <% } %>
        </tbody>
    </table>
</div>
<script>
    function deleteType(id) {
        fetch(`/deleteType/${id}`, {
            method: 'DELETE'
        })
        window.location.href = '/listTProduct';
    }
</script>